.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 1970px;
    margin-right: 0 30px;
  }


.heritage{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
   
}

.historic h3{
    margin-left: 50px;
    text-decoration: underline;
    margin-bottom: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.historic .solidor img{

    width: 300px;
    height: 300px;
    margin-left: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.historic .solidor img:hover{
    opacity: .5;
}

.historic .solidor p{
    float: right;
    margin-top: 60px;
    
}

.historic .solidor h4{
  margin-right: 250px;
}

.historic .vannes img{

    width: 300px;
    height: 300px;
    margin-left: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.historic .vannes img:hover{
    opacity: .5;
}

.historic .vannes p{
    float: right;
    margin-top: 60px;
}

.historic .vannes h4{
  margin-right: 280px;
}

.historic .fortlalatte img{

    width: 300px;
    height: 300px;
    margin-left: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.historic .fortlalatte img:hover{
    opacity: .5;
}

.historic .fortlalatte p{
    float: right;
    margin-top: 60px;
}

.historic .fortlalatte h4{
  margin-right: 280px;
}

.historic .concarneau img{

    width: 300px;
    height: 300px;
    margin-left: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.historic .concarneau img:hover{
    opacity: .5;
}

.historic .concarneau p{
    float: right;
    margin-top: 60px;
}

.historic .concarneau h4{
  margin-right: 260px;
}

.historic .brest img{

    width: 300px;
    height: 300px;
    margin-left: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.historic .brest img:hover{
    opacity: .5;
}

.historic .brest p{
    float: right;
    margin-top: 60px;
}

.historic .brest h4{
  margin-right: 280px;
}

.natural h3{
    margin-left: 50px;
    text-decoration: underline;
    margin-bottom: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.natural .raz img{

    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.natural .raz img:hover{
    opacity: .5;
}

.natural .raz p{
    float: right;
    margin-top: 60px;
    margin-right: 50px;
}



.natural .raz h4{
  margin-right: 305px;
}

.natural .perros img{

    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.natural .perros img:hover{
    opacity: .5;
}

.natural .perros p{
    float: right;
    margin-top: 60px;
    margin-right: 50px;
}



.natural .perros h4{
  margin-right: 305px;
}

.natural .plougrescant img{

    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.natural .plougrescant img:hover{
    opacity: .5;
}

.natural .plougrescant p{
    float: right;
    margin-top: 60px;
    margin-right: 50px;
}



.natural .plougrescant h4{
  margin-right: 305px;
}

.natural .golfe img{

    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.natural .golfe img:hover{
    opacity: .5;
}

.natural .golfe p{
    float: right;
    margin-top: 60px;
    margin-right: 50px;
}



.natural .golfe h4{
  margin-right: 305px;
}

.natural .capsizun img{

    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.natural .capsizun img:hover{
    opacity: .5;
}

.natural .capsizun p{
    float: right;
    margin-top: 60px;
    margin-right: 50px;
}



.natural .capsizun h4{
  margin-right: 330px;
}

