.vertical-line {
    border-left: 2px solid #000;
    display: inline-block;
    height: 1970px;
    margin-right: 0 30px;
}


.heritage {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.historic h3 {
    margin-left: 500px;
    text-decoration: underline;
    margin-bottom: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.historic img {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    margin-left: 600px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.historic img:hover {
    opacity: .5;
}

.historic h1 {

    text-align: center;
}


.historic p {

    text-align: center;


}


