/*-----MEDIAQUERIES------*/
/*------PAGE D'ACCUEIL-----*/
@media screen and (max-width:860px) {


    body {
        max-width: 860px;
    }

    .title {
        position: relative;
        left: 650px;
        text-align: center;
    }

    .drapeau {
        display: none;
    }


    .menuprincipal {
        position: relative;
    }

    .menuprincipal ul li {
        display: block;
        margin-left: 100px;
        margin-bottom: 20px;

    }

    .menuprincipal {

        text-align: center;
        margin-right: 65%;


    }

    .menuprincipal ul {
        margin-left: 100%;
        width: 100%;
        display: flex;

    }

    .menuprincipal li {
        padding-left: 5px;




    }

    .menuprincipal a {
        font-size: 1.1em;
        display: inline-block;

    }

    /*----EFFACER LA BARRE DE COOKIE----*/

    #cookie-bar {
        display: none;
    }


    /*----FAIT DISPARAITRE LE MAIN IMAGE EN RESPONSIVE----*/
    #main-image {
        display: none;
    }

    #main-image2 {
        display: none;
    }

    #main-image3 {
        display: none;
    }

    #main-image4 {
        display: none;
    }

    #main-image5 {
        display: none;
    }

    #main-image6 {
        display: none;
    }

    /*----CENTRER LES KORRIGANS-----*/

    #stages ul {
        width: 60%;
        position: relative;
        margin: auto;
        left: 570px;


    }

    #alternative {
        display: none;
    }

    #contact .paper {
        margin-left: 250px;
    }


    #contact form {
        position: relative;
        margin: 0 auto;
        left: 600px;
        padding-top: 20px;

    }

    p textarea {
        margin-left: -140px;
    }

    #contact label {
        display: none;
        margin-left: 200px;
    }

    footer {
        width: 400%;



    }

    footer .menuprincipal {
        display: none;
    }


    /*----PAGE PATRIMOINE----*/

    .historic {
        margin-top: 100px;


    }

    .historic article {
        margin-right: 550px;
    }

    .historic h1 {
        margin-left: 570px;
    }

    .historic p {
        margin-left: 570px;
    }

    .historic image {
        margin-right: 550px;
    }


    /*------PAGE CULINAIRE-----*/

    .titre-culinaire {
        display: inline-block;
        margin-left: 450px;

    }

    /*------PAGE SE CONNECTER-----*/


    .connection .titre-connect {

        margin-left: 600px;

    }

    fieldset {

        height: 200px;
        width: 500px;
        margin-left: 500px;


    }

    .slide {

        display: none;
    }

    .contact fieldset p {
        display: block;
        margin: 0 auto;
        padding-top: 10px;
    }

    .container {

        margin-left: -250px;
    }

    .hermine {
        display: none;
    }

    /*----PAGE MENTIONS LEGALES----*/

    .mentions {
        margin-left: 600px;
        display: inline-block;
        margin-top: -100px;
    }




    /*----PAGE PLAN DE SITE----*/

    .plandusite h3 {
        display: flex;
        margin-left: 700px;
        margin-top: 200px;
    }

    .index {
        display: inline-block;
        margin-left: 700px;
    }


    /*----PAGE ACCOUNT----*/

    .randoshare {
        margin-left: 650px;
    }

    .randoshare h1 {
        display: inline-block;
        margin-top: 50px;
        margin-left: -30px;
    }

    .randoshare .boussole {
        margin-right: 10px;
    }

    .randoshare h3 {
        display: inline-block;
    }

    .randoshare .zoom {
        margin-left: 100px;
        margin-top: 30px;
    }

    .button-4 {
        display: inline-block;
        margin-left: 650px;
    }

}