#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    margin-left: 400px;
    margin-top: 100px;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}